<div class="sidebar">
    <a routerLink="/dashboard">Home</a>
    <a routerLink="/friend-tab">Friends</a>
    <a class="active" routerLink="/group-tab">Group</a>
    <a routerLink="/activity-tab">Activity</a>
    <a routerLink="/insight">Insights</a>
    <a (click)="logout()">Logout</a>
  </div>
  <div class="content">
        <table id="customers">
            <tr>
                <th>Group Name</th>
                <th>Amount you owe or the group owes to you</th>
                <th>Members</th>
                <th>Add transaction</th>
                <th>Leave group</th>
            </tr>
            <ng-container *ngFor="let g of group; let i = index">
                <tr>
                <td><button class="none" (click)="onClick(g)">
                    {{g[1]}}
                </button></td>
                <td>{{func(g[2].toFixed(2))}}</td>
                <td>
                    <div *ngFor="let m of members">
                            <div *ngIf="m[0]==g[0]">
                                {{m[1]}}
                            </div>
                    </div>
                    <a routerLink="/member/{{g[0]}}" class="button">Add new member</a></td>
                <td><a routerLink="/transaction/{{g[0]}}" class="button">Add Transaction</a></td>
                
                <td><button class="button" (click)="leave(g[0])">Leave Group</button></td>
            </tr>
            <tr>
                    <td colspan=6>
                        <div *ngIf="show && g[0]==detailed_f_name">
                        <button class="button" (click)="settle(g[0])">Settle Up</button> &nbsp;&nbsp;
                        <button class="button" (click)="onClickbalance(g)">Balances</button>
                        <div *ngIf="showbalance && g[0]==f_name">
                            <h3>Your Balances with Group members</h3>
                            <table id="customers1">
                                    <!-- console.log({{balance}})
                                    <tr>{{balance[0]}}</tr> -->
                                    <tr>
                                        <th>Status</th>
                                        
                                    </tr>
                                    <ng-container *ngFor="let key of keys">
                                        <tr > {{func1(groupbalance['0'][key].toFixed(2),key)}}</tr>
                                    </ng-container>

                            </table>
                            <h3>Other Balances in Group</h3>
                            <table id="customers2">
                                <tr>
                                <th>Group Member</th>
                                <th>Net Amount</th>
                            </tr>
                            <ng-container *ngFor="let balance of groupbalance2">
                                
                                <tr>
                                    <td>{{balance[0]}}</td>
                                    <td>{{func2(balance[1].toFixed(2))}}</td>
                                </tr>
                                
                            </ng-container>
                        </table>
                        </div>
                        <h2>TRANSACTIONS</h2>
                        <table width="60%" align="center" id="none">
                            <tr>
                                <th>Lender</th>
                                <th>Borrower</th>
                                <th>Amount</th>
                                <th>Description</th>
                                <th>Tag</th>
                            </tr>
                            <ng-container *ngFor="let trans of transactions">
                            <ng-container *ngIf="value(trans[7])!=0.00">
                                
                                    <tr>
                                        <td>{{trans[1]}}</td>
                                        <td>{{trans[2]}}</td>
                                        <td>{{value(trans[7])}}</td>
                                        <td>{{trans[5]}}</td>
                                        <td>{{trans[6]}}</td>
                                    </tr>
                            </ng-container>       
                            </ng-container>
                        </table>
                    </div></td>
            </tr>
            </ng-container>
        </table>
        <br>
        <form ng-app="myapp" name="myForm" ng-controller="myscope">
        <a routerLink="/groupform" class="button">Add New Group</a> 


        </form>

     </div>
