<div class="sidebar">
    <a class="active" routerLink="/dashboard">Home</a>
    <a routerLink="/friend-tab">Friends</a>
    <a routerLink="/group-tab">Group</a>
    <a routerLink="/activity-tab">Activity</a>
    <a routerLink="/insight">Insights</a>
    <a (click)="logout()">Logout</a>
</div>
<div class="content">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <h1>About myself</h1>
    <h3><b>NAME: </b>{{user.user}}<br></h3>
    <h3><b>User ID: </b>{{user.id}}<br></h3>
    <!-- <h3><b>Email ID:</b>pranshu.negi456@gmail.com<br></h3> -->
</div>
<div class="col-lg-6"><img src="http://127.0.0.1:8000/pics/{{user.profilepicture}}" style="width: 50%;"></div>
</div>
<div class="row">
<div class="col-lg-6">
    <!-- <a href=#>Other Personal Details</a> -->
</div>
<div class="col-lg-6">
        <button class="button" (click)="onClick()">Change Profile Picture</button>
        <button class="button" (click)="namefield()">Change Name</button>
        <button class="button" (click)="passwad()">Change Password</button>
        <div *ngIf="password">
                <input type="password" id="newpasswd">
                <button type="button" (click)="ChangePassword()">Change Password</button>
        </div>
        <div *ngIf="name_field">
                <input type="text" id="txtfield">
                <button type="button" (click)="ChangeName()">Change User Name</button>
        </div>
            <div *ngIf="show">
        <input type="file" (change)="onFileSelected($event)">
        <button type="button" (click)="onUpload()">Change Profile Picture</button>
        </div>

</div>
</div>
</div>
</div>
