<div class="container">
    <div [hidden]="submitted">
      <h1>Add a new Transaction</h1>
      <form #transactionForm="ngForm">
              
   <!-- <div class="custom-control custom-radio">
    <input id="lender" type="radio" class="custom-control-input" value="lender" name="involved" required [(ngModel)]="model.involved">
    <label class="custom-control-label" for="lender">Paying for the group</label>
 </div> -->

 <!-- <div class="custom-control custom-radio">
    <input id="borrower" type="radio" class="custom-control-input" value="borrower" name="involved" required [(ngModel)]="model.involved">
    <label class="custom-control-label" for="borrower">Returning to the group</label>
 </div>            -->
        <div class="form-group">
            <label for="desc">Brief Description</label>
            <input type="text" class="form-control" id="desc"
                   required
                   [(ngModel)]="model.desc" name="desc"
                   #desc="ngModel">
          </div>
          <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount"
                   required
                   [(ngModel)]="model.amount" name="amount"
                   #amount="ngModel">
          </div>
          <div class="form-group">
            <label for="tag">Tag for the transaction</label>
            <select class="form-control" id="tag"
                    required
                    [(ngModel)]="model.tag" name="tag"
                    #tag="ngModel">
              <option *ngFor="let x of tags" [value]="x">{{x}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="distribution">Amount distribution details (percentage)</label><br>  
            <!-- <div *ngIf="sh[0]==grp_id"> -->
                {{user.user}} <input type="number" step="0.01" class="form-control" id="{{user.id}}" value="{{last}}" required name="distribution">
              <!-- </div> -->
            <div *ngFor="let sh of all_friends">
              <div *ngIf="sh[0]==grp_id">
              {{sh[2]}} <input type="number" step="0.01" class="form-control" id="{{sh[1]}}" value="{{(100/cnt).toFixed(2)}}" required name="distribution">
            </div>
            </div>
          </div>
              <button (click)="onsubmit()" class="btn btn-success" [disabled]="!transactionForm.form.valid">Add Transaction</button>
            </form>
          </div>